.App {
  text-align: center;
}
.Main{
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0px 10%;
}
.Right{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.Right h1{
  font-size: 44px;
  text-align: left;
  margin-bottom: 5px;
}
.Right h3{
  margin-bottom: 10px;
}
.Right p{
  font-size: 17px;
  margin: 0px;
  margin-bottom: 20px;
  color: #ccc;
}
.Left{
  display: flex;
position: relative;
  width: 50%;
  margin-right: 3%;
  justify-content: flex-end;
  align-items: center;
}
.buy-btn{
  width: 100px;
  background-color: rgb(33, 202, 166);
  box-sizing: border-box;
  border: 0px solid #ccc;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  margin-top: 15px;
}